td {
    text-align: center;
    vertical-align: middle;
}

.game {
    position: relative;
}

table,
.game__tile,
.score__cell,
.score__cell-head {
    border: 1px solid black;
}

.game__tile {
    height: 50px;
    width: 50px;

    background-color: var(--color-tile-default);
    background-size: cover;

    color: var(--color-tile-text);
    font-weight: 700;
}

.game__tile.selected {
    border: 2px solid var(--color-tile-selected);
}

.game__tile:hover {
    opacity: 0.7;
}

.score {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
}

.score__cell,
.score__cell-head {
    padding: 0.25rem 1rem;
}

.score__cell {
    color: var(--color-tile-text);
    font-weight: 700;
}

.red {
    background-color: var(--color-player-red);
}

.blue {
    background-color: var(--color-player-blue);
}

.green {
    background-color: var(--color-player-green);
}

.purple {
    background-color: var(--color-player-purple);
}

.barracks {
    background-image: url("../../resources/images/barrack.svg");
}

.mountains {
    background-image: url("../../resources/images/mountain.svg");
}

.capital {
    background-image: url("../../resources/images/castle.svg");
}

.right {
    background-image: url("../../resources/images/right.png");
}

.left {
    background-image: url("../../resources/images/left.png");
}

.up {
    background-image: url("../../resources/images/up.png");
}

.down {
    background-image: url("../../resources/images/down.png");
}
