.App {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 3rem auto;
  grid-template-areas:  "topbar"
                        "main";

  background-color: lightslategrey;
}

.topbar {
  display: flex;
  justify-content: flex-end;

  background-color: red;

  grid-area: topbar;
}

.main {
  display: flex;
  justify-content: center;

  grid-area: main;
}

.menu {
  display: flex;
  flex-direction: column;

  justify-content: center;
}