.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  background-color: var(--color-background);

  font-family: 'Odibee Sans', cursive;
  color: var(--color-primary);
}
