:root {
    --color-dark-blue: #16697A;
    --color-blue: #489FB5;
    --color-light-blue: #82C0CC;
    --color-grey: #EDE7E3;
    --color-orange: #FFA62B;

    --color-player-blue: #3660c9; 
    --color-player-red: #c93636;
    --color-player-green: #36c940;
    --color-player-purple: #a236c9;
    --color-player-white: #cccccc;

    --color-player-ready : #039c13;
    --color-player-notready: #8c0101;

    --color-tile-default: #808080;
    --color-tile-selected: white;
    --color-tile-text: white;

    --color-background: var(--color-dark-blue);
    --color-background-medium: var(--color-blue);
    --color-primary: var(--color-orange);
    --color-secondary: var(--color-grey);
    --color-font: var(--color-orange);

    --color-error: #e63946;
    --color-passive: var(--color-grey);
    --color-exit: #cc0000;
    --color-surrender: #039c10;
}